<p>baner works!</p>
<div class="container ">

    <div class="row bcolor">
        <div class="col-4">
            <div class="row">
                <p> +91 9764996216, 9422616321</p>
            </div>
            <div class="row">
                <p>gouriimpexmiraj@gmail.com</p>
            </div>
            <div class="row">
                <p>Send SMS | Call Me Free | Send Enquiry</p>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <p>Register For Scheme / Profile Creation</p>
            </div>
            <div class="row">

                <p> <a routerLink='/registerwoscheme'>Register Out Of Scheme</a></p>
            </div>
            <div class="row">
                <p>Login Existing User</p>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <p>Apply Online</p>
            </div>
            <div class="row">
                <p> </p>
            </div>
            <div class="row">
                <p> 0 ( 0 items)
                </p>
            </div>
        </div>
    </div>

</div>