<p>nav works!</p>
<div class="container">
    <div class="row">
        <div class="dropdown ">
            <button class="dropbtn" routerLink='/home'>HOME</button>

            <!-- <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div> -->
        </div>
        <div class="dropdown">
            <button class="dropbtn dropdown-toggle" data-toggle="dropdown">ABOUT US</button>
            <div class="dropdown-content">
                <a routerLink='/companyprofile'>COMPANY PROFILE</a>
                <a routerLink='/testimonials'>TESTIMONIALS</a>
                <!-- <a href="#">Link 3</a> -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">PRODUCT</button>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">SCHEME</button>
            <div class="dropdown-content">
                <a routerLink='/scheme'>SCHEME</a>
                <a routerLink='/pptpresentation'>PPT PRESENTATION</a>
                <!-- <a href="#">Link 3</a> -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" routerLink='/contactus'>CONTACT US</button>
            <!-- <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div> -->
        </div>
        <div class="dropdown">
            <button class="dropbtn">VIEW PROFILE</button>
            <!-- <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div> -->
        </div>
    </div>


</div>