<div class="container">
    <p>parent works!</p>
</div>

<div class="row container">
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-sm" (click)="readlocalstorage();">Read</button>
    </div>
    <div class="col-sm-4">
        <p></p>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-primary btn-sm" (click)="clearlocalstorage();"
            [disabled]=true>Clear</button>
    </div>


</div>


<div class="container" *ngIf="showcomponent">
    <app-header></app-header>
</div>

<div class="container" *ngIf="showcomponent">
    <app-baner></app-baner>
</div>
<div class="container">
    <app-content></app-content>
</div>
<div class="container" *ngIf="showcomponent">
    <app-footer></app-footer>
</div>