<div class="container">
    <p>parent works!</p>
</div>

{{message}}


<!-- <button type="button" class="btn btn-primary" (click)="readlocalstorage();">Read Local Storage</button> -->
<!-- <button type="button" class="btn btn-primary" (click)="clearlocalstorage();">Clear Local Storage</button> -->

<div class="container" *ngIf="showcomponent">
    <app-header></app-header>
</div>

<div class="container" *ngIf="showcomponent">
    <app-baner></app-baner>
</div>
<div class="container">
    <app-content></app-content>
</div>
<div class="container" *ngIf="showcomponent">
    <app-footer></app-footer>
</div>